<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CS116</title>
        
        <style>
                .content {
                margin-top: 50px;
                height: 96vh;
                background: url('https://cdn.tgdd.vn/Files/2021/04/01/1340044/khai-niem-cua-python-nguon-goc-y-nghia-va-vai-tr-1.jpg')
                top center / cover no-repeat;
                }
        </style>
</head>
        <body>
                {% include "index/header.html" %}
                
                <div class='content'">
                </div>
        </body>
</html>
